html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

header {
  width: 80%;
}

div {
  padding: 2px;
}

table {
  table-layout: fixed;
  border-collapse: collapse
}

th {
  text-align: left;
  background: #A8A8A8;
  empty-cells: hide;
  cursor: default;
}

tr {
  text-align: left;
  height: 25px;
  margin: 2px 2px;
}

tr:nth-child(odd) {
  background: #F3F3F3;
}

button {
  background: #73BE2C;
  border: none;
  color: white;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  padding: 2px 20px;
}

button:hover {
  background: green;
}

input[type=radio] {
  background: red;
}

.lastCell {
  display: none;
}

.lastCell:hover {
  display: block;
}

.delete {
  padding: 0 20px;
  width: 100%;
  background: rgba(255, 0, 0, 0.5);
}

.delete:hover {
  background: red;
}

.dialog {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.innerDialog {
  text-align: left;
  position: absolute;
  left: calc(25%);
  top: calc(2%);
  width: 50%;
  height: 90%;
  background-color: #ffffff;
  padding: 24px;
  border-style: double;
}

.innerDialog img {
  padding: 2px;
  float: left;
}

.msgDialog {
  text-align: left;
  padding: 6px 12px 25%;
  margin: 2%;
}

.close {
  position: absolute;
  left: 50%;
  width: 100px;
  margin: 0 0 24px -50px;
  bottom: 0;
}

.sort {
  margin: 20px 2px;
}

#item-list {
  table-layout: fixed;
  width: 80%;
}

#item-list tr:not(:first-child):hover td:not(:last-child) {
  background: #666;
  color: #FFF;
  cursor: pointer;
}

#item-list tr:hover td.lastCell {
  display: block;
}

#item-list tr td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#meta {
  top: 50px;
  float: right;
  text-align: right;
  padding: 2px;
}

#search {
  width: 100%;
}

#searchBox {
  height: 60%;
  width: 60%;
}

#headerBox {
  height: 120px;
  column-count: 2;
}

#pageBox {
  margin: 50px 0;
  width: 80%;
  text-align: center;
}

.headerDialog {
  border-color: gray;
  border-bottom-style: solid;
}