<!DOCTYPE html>
<html lang="en">

<head>
  <script src="lib/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script src="lib/underscore-1.8.3.min.js" type="text/javascript"></script>
  <script src="lib/backbone-1.3.3.min.js" type="text/javascript"></script>
  <script src="bb_views/base/component.sociview.js" type="text/javascript"></script>
  <script src="lib/moment-2.18.1.min.js" type="text/javascript"></script>
  <script src="lib/moment-timezone-0.5.13.min.js" type="text/javascript"></script>
  <meta charset="UTF-8">
  <title>SOCi Takehome</title>
</head>

<body>
  <!-- Import your styles here -->
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <!-- -->
  <!-- Add your Backbone View templates here -->
  <script type='text/template' id='ListContainerView'>
    <header>
      <h1>Social Media Manager</h1>
      <div id="headerBox">
        <div id="searchBox">
          <input id="search" type="text" placeholder="Search list items">
          <Br>
          <input id="msgSearch" type="radio" class="searchRadio" name="searchRadio" value="Search by message" checked>Search by message
          <input id="nameSearch" type="radio" class="searchRadio" name="searchRadio" value="Search by name">Search by name
        </div>
        <div id="meta">
          <div>Total posts:
            <%= total%>
          </div>
          <div>Approved posts:
            <%= approved%>
          </div>
          <div>Pending posts:
            <%= pending%>
          </div>
          <div>Rejected posts:
            <%= rejected%>
          </div>
        </div>
      </div>
    </header>
    <section id="main">
      <table id="item-list">
        <tr>
          <th>Message</th>
          <th class="sort" id="byCreatedDate">Created At <img id="created_at" src="./menubar.png" height="12" width="12"></th>
          <th class="sort" id="byCreator">Created By <img id="created_by_name" src="./menubar.png" height="12" width="12"></th>
          <th>Network Type</th>
          <th>Status</th>
          <th class="sort" id="bySchedule">Schedule <img id="schedule" src="./menubar.png" height="12" width="12"></th>
          <th></th>
        </tr>
      </table>
    </section>
    <div id="pageBox">
      <button id="prev">Previous</button>
      <button id="next">Next</button>
      <div>Page
        <%= this.currentPage %> of
          <%= Math.ceil(total/5)%>
      </div>
    </div>
  </script>

  <script type='text/template' id='ListItemView'>
    <td>
      <%= message%>
    </td>
    <td>
      <%= created_at%>
    </td>
    <td>
      <%= created_by_name %>
    </td>
    <td>
      <%= network%>
    </td>
    <td class="status">
      <%= status %>
    </td>
    <td>
      <%= schedule%>
    </td>
    <td class="lastCell">
      <button class="delete">Delete</button>
    </td>
  </script>

  <script type='text/template' id='ModalView'>
    <div class="innerDialog">
      <div class="headerDialog">
        <div>
          <img src=<%=network_thumb%> height= "64" width="64">
          <div class="bold">
            <%= created_by_name %>
          </div>
          <div>Created At:
            <%=created_at%>
          </div>
          <div>Schedule :
            <%=schedule%>
          </div>
        </div>
        <br>
        <div>
          <div>Status :
            <span class="status"><%= status %></span>
          </div>
          <div>Network Type:
            <%= network %>
          </div>
          <div>Network Name:
            <%= network_name %>
          </div>
        </div>
      </div>
      <div class="msgDialog">
        <%= message %>
      </div>
      <div>
        <button class="close">Close</button>
      </div>
    </div>
  </script>
  <!-- -->
  <!-- Import your Backbone data/view classes here -->
  <script src="bb_models/ListItemModel.js" type="text/javascript"></script>
  <script src="bb_collections/ListItemCollection.js" type="text/javascript"></script>
  <script src="bb_views/ListContainerView.js" type="text/javascript"></script>
  <script src="bb_views/ListItemView.js" type="text/javascript"></script>
  <script src="bb_views/ModalView.js" type="text/javascript"></script>
  <script src="bb_views/base/component.sociview.js" type="text/javascript"></script>
  <!-- -->
  <script type="text/javascript">
  $(document).ready(function() {
    // Instantiate and render your Backbone views from here
    $('.takehome_body').append(new ListContainerView({
      collection: new ListItemCollection()
    }).render().el);


  });
  </script>
  <div class="takehome_body">
    <!-- Render your item list here -->
  </div>
</body>

</html>